.pin-head {
    width: 100%;
    height: 24px;
    padding-bottom: 10px;
    margin-bottom: 12px;
    border-bottom: 2px solid #8c0000;
}

.pin-head > p {
    width: 170px;
    float: left;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.pin-head > ul {
    float: left;
}

.pin-head > ul > li {
    float: left;
    margin: 0 5px;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    line-height: 14px;
    border-radius: 5px;
}

.pin-head > ul > li >a{
    color: #000;
}

.pin-head > ul > li.active >a{
    color: #fff;
}

.pin-head > ul > li.active > .angle {
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #8c0000;
}

.pin-head > ul > li.active {
    color: #fff;
    background-color: #8c0000;
}

.pin-right {
    float: left;
    width: 330px;
    margin-left: 20px;
}

.pin-right li {
    width: 300px;
    padding: 10px 15px;
    height: 22px;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}

.pin-right li a {
    line-height: 22px;
    font-size: 14px;
    color: #555555;
    display: inline-block;
    width: 300px;
    height: 22px;
    overflow: hidden;
}

.hehe1 {
    float: left;
}

.fuck {
    width: 660px;
    height: 132px;
    margin: 50px 0;
    display: inline-block;
}

.fuck img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.fuck-left {
    position: relative;
    width: 132px;
    height: 132px;
    float: left;
    display: inline-block;
}

.fuck-right {
    position: relative;
    width: 132px;
    height: 66px;
    float: right;
    overflow: hidden;
}

.opacity {
    width: 100%;
    height: 26px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: -26px;
    transition: bottom .3s ease-in;
    -o-transition: bottom .3s ease-in;
    -ms-transition: bottom .3s ease-in;
    -moz-transition: bottom .3s ease-in;
    -webkit-transition: bottom .3s ease-in;
    background-color: rgba(0, 0, 0, 0.5);
}

.opacity.active{
    transition: bottom .3s ease-in;
    -o-transition: bottom .3s ease-in;
    -ms-transition: bottom .3s ease-in;
    -moz-transition: bottom .3s ease-in;
    -webkit-transition: bottom .3s ease-in;
    bottom: 0;
}

.opacity > p {
    color: #fff;
    font-size: 14px;
    line-height: 26px;
}

.ping {
    width: 100%;
    height: 270px;
}

.ping-title {
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
    color: #555;
    border-bottom: 1px solid #8c0000;
}

.ping-link {
    width: 100%;
}

.ping-link li {
    overflow: hidden;
    margin: 12px 0;
    height: 20px;
    width: 100%;
    overflow: hidden;
}

.ping-link li a {
    font-size: 14px;
    line-height: 18px;
    color: #555;
    display: inline-block;
    height: 20px;
    width: 100%;
    overflow: hidden;
}

.fucked {
    width: 1000px;
    margin: 0 auto;
}

.fucked-img {
    width: 1000px;
    height: 120px;
    margin: 0 auto;
    display: none;
}

.fucked-img.active {
    display: block;
}

.fucked-img li {
    float: left;
    width: 180px;
    margin: 0 10px;
    height: 100%;
}

.fucked-img li img {
    width: 100%;
    height: 100%;
}